.indexmain
  .indexmain__top
    %br/
    地域一覧
    .indexmain__top-prefecturelist
      = link_to "北海道" ,controller: :prefecture, action: :hokkaido
      = link_to "青森県" ,controller: :prefecture, action: :aomori 
      = link_to "岩手県" ,controller: :prefecture, action: :iwate 
      = link_to "宮城県" ,controller: :prefecture, action: :miyagi 
      = link_to "秋田県" ,controller: :prefecture, action: :akita 
      = link_to "山形県" ,controller: :prefecture, action: :yamagata 
      = link_to "福島県" ,controller: :prefecture, action: :fukushima 
      = link_to "茨城県" ,controller: :prefecture, action: :ibaraki 
      = link_to "栃木県" ,controller: :prefecture, action: :tochigi 
      = link_to "群馬県" ,controller: :prefecture, action: :gunma 
      = link_to "埼玉県" ,controller: :prefecture, action: :saitama 
      = link_to "千葉県" ,controller: :prefecture, action: :chiba 
      = link_to "東京都" ,controller: :prefecture, action: :tokyo
      = link_to "神奈川県" ,controller: :prefecture, action: :kanagawa 
      = link_to "新潟県" ,controller: :prefecture, action: :niigata 
      = link_to "富山県" ,controller: :prefecture, action: :toyama 
      = link_to "石川県" ,controller: :prefecture, action: :ishikawa 
      = link_to "福井県" ,controller: :prefecture, action: :fukui 
      = link_to "山梨県" ,controller: :prefecture, action: :yamanashi 
      = link_to "長野県" ,controller: :prefecture, action: :nagano 
      = link_to "岐阜県" ,controller: :prefecture, action: :gifu 
      = link_to "静岡県" ,controller: :prefecture, action: :shizuoka 
      = link_to "愛知県" ,controller: :prefecture, action: :aichi 
      = link_to "三重県" ,controller: :prefecture, action: :mie 
      = link_to "滋賀県" ,controller: :prefecture, action: :shiga 
      = link_to "京都府" ,controller: :prefecture, action: :kyoto
      = link_to "大阪府" ,controller: :prefecture, action: :osaka
      = link_to "兵庫県" ,controller: :prefecture, action: :hyogo 
      = link_to "奈良県" ,controller: :prefecture, action: :nara 
      = link_to "和歌山県" ,controller: :prefecture, action: :wakayama 
      = link_to "鳥取県" ,controller: :prefecture, action: :tottori 
      = link_to "島根県" ,controller: :prefecture, action: :shimane 
      = link_to "岡山県" ,controller: :prefecture, action: :okayama 
      = link_to "広島県" ,controller: :prefecture, action: :hiroshima 
      = link_to "山口県" ,controller: :prefecture, action: :yamaguchi 
      = link_to "徳島県" ,controller: :prefecture, action: :tokushima 
      = link_to "香川県" ,controller: :prefecture, action: :kagawa 
      = link_to "愛媛県" ,controller: :prefecture, action: :ehime 
      = link_to "高知県" ,controller: :prefecture, action: :kochi 
      = link_to "福岡県" ,controller: :prefecture, action: :fukuoka 
      = link_to "佐賀県" ,controller: :prefecture, action: :saga 
      = link_to "長崎県" ,controller: :prefecture, action: :nagasaki 
      = link_to "熊本県" ,controller: :prefecture, action: :kumamoto 
      = link_to "大分県" ,controller: :prefecture, action: :oita 
      = link_to "宮崎県" ,controller: :prefecture, action: :miyazaki 
      = link_to "鹿児島県" ,controller: :prefecture, action: :kagoshima 
      = link_to "沖縄県" ,controller: :prefecture, action: :okinawa 