.header
  .header__left
    = link_to "Tennishii",root_path, id: "tennshiilogo"
  %ul.header__right
    %li.header__right--notice
      -if user_signed_in?
        = current_user.name
    %li.header__right--mypage
      - if user_signed_in?
        = link_to "マイページ", new_user_session_path, class: "header__right--btn"
        = link_to "ログアウト", destroy_user_session_path, method: :delete, class: "header__right--btn"
      - else
        = link_to "ログイン", new_user_session_path, class: "header__right--btn"
        = link_to "新規登録", new_user_registration_path, class: "header__right--btn"